{% extends 'base.html.twig' %}

{% block body %}
    <h1>Faqs list</h1>

    <a class="btn btn-light" href="{{ path('listrubrique_index') }}">FAQ par rubrique</a>

    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th>Question</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for faq in faqs %}
            <tr>
                <td><a href="{{ path('listfaq_show', { 'id': faq.id }) }}">{{ faq.question }}</a></td>
                <td>{% if faq.date %}{{ faq.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
