{% extends 'base.html.twig' %}

{% block body %}
    <h1>Faq</h1>

    {% include 'faq/show_faq.html.twig' with {'faq' : faq}  %}

    <a class="btn btn-light" href="{{ path('listrubrique_index') }}">Back to the list</a>
{% endblock %}
