{% extends 'base.html.twig' %}

{% block body %}

    {{ include('article/liste_articles.html.twig') }}
    <a class="btn btn-info" href="{{ path('article_new') }}">Create a new article</a>
{% endblock %}
